[submodule "Bayesian-Modelling-in-Python"]
	path = Bayesian-Modelling-in-Python
	url = https://github.com/markdregan/Bayesian-Modelling-in-Python.git
[submodule "scikit-image-tutorials"]
	path = scikit-image-tutorials
	url = https://github.com/scikit-image/skimage-tutorials.git
[submodule "bayesian-methods-for-hackers"]
	path = bayesian-methods-for-hackers
	url = https://github.com/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers.git
[submodule "dask-tutorial"]
	path = dask-tutorial
	url = https://github.com/dask/dask-tutorial.git
[submodule "latex-template-collection"]
	path = cmichi-latex-templates
	url = https://github.com/cmichi/latex-template-collection
[submodule "deedy-latex-templates"]
	path = deedy-latex-templates
	url = https://github.com/deedy/Latex-Templates
[submodule "martinthoma-latex-examples"]
	path = martinthoma-latex-examples
	url = https://github.com/MartinThoma/LaTeX-examples
[submodule "Schymanski_leaf-scale_2016"]
	path = Schymanski_leaf-scale_2016
	url = https://github.com/schymans/Schymanski_leaf-scale_2016.git
[submodule "beezer-linear-algebra"]
	path = beezer-linear-algebra
	url = https://github.com/rbeezer/sla.git
[submodule "first-steps"]
	path = first-steps
	url = https://github.com/sagemathinc/cocalc-first-steps.git
[submodule "cocalc-example-files"]
	path = cocalc-example-files
	url = https://github.com/sagemathinc/cocalc-example-files.git
[submodule "data-science-ipython-notebooks"]
	path = data-science-ipython-notebooks
	url = https://github.com/donnemartin/data-science-ipython-notebooks.git
[submodule "introduction_to_ml_with_python"]
	path = introduction_to_ml_with_python
	url = https://github.com/amueller/introduction_to_ml_with_python.git
[submodule "scientific-python-lectures"]
	path = scientific-python-lectures
	url = https://github.com/jrjohansson/scientific-python-lectures.git
[submodule "PythonDataScienceHandbook"]
	path = PythonDataScienceHandbook
	url = https://github.com/jakevdp/PythonDataScienceHandbook.git
[submodule "stanford-tensorflow-tutorials"]
	path = stanford-tensorflow-tutorials
	url = https://github.com/chiphuyen/stanford-tensorflow-tutorials.git
[submodule "statistical-rethinking-python-PyMC3"]
	path = statistical-rethinking-python-PyMC3
	url = https://github.com/aloctavodia/Statistical-Rethinking-with-Python-and-PyMC3.git
[submodule "think-complexity-2ed"]
	path = think-complexity-2ed
	url = https://github.com/AllenDowney/ThinkComplexity2.git
[submodule "think-dsp"]
	path = think-dsp
	url = https://github.com/AllenDowney/ThinkDSP.git
[submodule "thumbs/think-stats-2ed"]
	path = thumbs/think-stats-2ed
	url = https://github.com/AllenDowney/ThinkStats2.git
[submodule "thumbs/think-bayes"]
	path = thumbs/think-bayes
	url = https://github.com/AllenDowney/ThinkBayes.git
[submodule "think-bayes"]
	path = think-bayes
	url = https://github.com/AllenDowney/ThinkBayes.git
[submodule "think-stats-2ed"]
	path = think-stats-2ed
	url = https://github.com/AllenDowney/ThinkStats2.git
[submodule "think-python-2ed"]
	path = think-python-2ed
	url = https://github.com/AllenDowney/ThinkPython2.git
