[submodule "cloud-examples"]
	path = cloud-examples
	url = git@github.com:sagemath/cloud-examples.git
[submodule "Bayesian-Modelling-in-Python"]
	path = Bayesian-Modelling-in-Python
	url = https://github.com/markdregan/Bayesian-Modelling-in-Python.git
[submodule "scikit-image-tutorials"]
	path = scikit-image-tutorials
	url = https://github.com/scikit-image/skimage-tutorials.git
[submodule "bayesian-methods-for-hackers"]
	path = bayesian-methods-for-hackers
	url = https://github.com/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers.git
[submodule "dask-tutorial"]
	path = dask-tutorial
	url = https://github.com/dask/dask-tutorial.git
